#logo-image,
#me {
  border: ridge;
  border-radius: 50%;
  border-color: black;
}
.display-7 {
  background-color: transparent;
}
.hover:hover {
  cursor: pointer;
  color: blueviolet;
  font-size: 20pt;
}
.pic:hover {
  cursor: pointer;
  opacity: 0.5;
}
